.carousal-text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 27rem;
    font-family: 'Baloo Chettan 2', Bold;
}

.simage {
    height: 30rem;
    z-index: -1;
    background-color: black;
}

.above {
    position: absolute;
    top: 0;
    height: 30rem;
    background-color: rgb(22, 22, 22);
    z-index: 0;
    opacity: 0.5;
    width: 100%;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #083339;
}

#navbar::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 80%;
    opacity: 0.2;
    z-index: -1;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    font-family: 'Baloo Chettan 2', cursive;
    display: block;
    padding: 3px 22px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover {
    background-color: white;
    text-decoration: none;
    color: black;
}

.ahome {
    padding-top: 0.5rem;
    margin-top: 0.4rem;
    margin-right: 3rem;
}

.services {
    margin-top: 0.9rem;
    margin-left: 1rem;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.icon {
    position: absolute;
    top: 0.3rem;
    left: 0.2rem;
    height: 3rem;
}

.cmargin {
    margin-top: 1rem;
    margin-left: 1rem;
}

.text-big {
    font-size: 2rem;
    font-family: cursive;
    text-align: center;
}

.text-small {
    padding: 0.3em;
    font-size: 1.5rem;
    font-family: cursive;
    text-align: center;
}

.fcard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cardbg {
    background-color: rgb(239, 239, 239);
    width: 20rem;
}

.header-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text-right {
    text-align: right;
    margin-bottom: 0;
    font-family: 'Baloo Chettan 2', Bold;
}


/* .gallery {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    height: 4rem;
    width: 9rem;
    flex-wrap: wrap;
}

.gimg {
    margin-left: 0.3rem;
    margin-top: 0.2rem;
}

.gcard {
    width: 15rem;
    height: 5.5rem;
}

.gcontainer {
    height: 15rem;
} */

.footer {
    height: 30vh;
    background-color: #083339;
    margin-top: 2vh;
    display: flex;
    width: 100vw;
    flex-direction: row;
}

.footbtn {
    font-family: 'Baloo Chettan 2', cursive;
    margin-top: 1rem;
    color: white !important;
}

.footbtn:hover {
    background-color: white !important;
    color: black !important;
}

.fbtn {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.foot-text {
    justify-self: center;
    width: 80vw;
}

.ft-text {
    font-size: 1.5rem;
}

@media screen and (max-width: 540px) {
    .simage {
        height: 15rem;
    }
    .above {
        height: 15rem;
    }
    .carousal-text {
        height: 13rem;
    }
    .gcard {
        width: 9rem;
    }
    .cardbg {
        width: 15rem;
    }
    .gcontainer {
        height: 10.3rem;
    }
    .ft-text {
        font-size: 0.9rem;
    }
    .foot-text {
        width: 50vw;
    }
    .fbtn {
        margin-left: 0;
        width: 7rem;
    }
}