.carousal-text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 27rem;
    font-family: 'Baloo Chettan 2', Bold;
}

.simage {
    height: 30rem;
    z-index: -1;
    background-color: black;
}

.above {
    position: absolute;
    top: 0;
    height: 30rem;
    background-color: rgb(22, 22, 22);
    z-index: 0;
    opacity: 0.5;
    width: 100%;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #083339;
}

#navbar::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 80%;
    opacity: 0.2;
    z-index: -1;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    font-family: 'Baloo Chettan 2', cursive;
    display: block;
    padding: 3px 22px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover {
    background-color: white;
    text-decoration: none;
    color: black;
}

.ahome {
    padding-top: 0.5rem;
    margin-top: 0.4rem;
    margin-right: 3rem;
}

.services {
    margin-top: 0.9rem;
    margin-left: 1rem;
}

@media screen and (max-width: 540px) {
    .simage {
        height: 15rem;
    }
    .above {
        height: 15rem;
    }
    .carousal-text {
        height: 13rem;
    }
}